#category-filter{
    color: white;
    background-color: black;
}

#search-box{
    border-radius: 50px;
    width: 65%;
}

#search-button{
    border-radius: 50px;
    background-color: grey;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

button{
    border-radius: 50px;
    color: black;
    background-color: grey;
}