html {
    font-family: 'Lato', sans-serif;
    font-size: 14px;

}

body {
    min-width: 372px;
}

.product-item {
    position: relative;
    display: flex;
    /* width: 220px;
    height: 350px; */
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    padding: 10px;
}

.product-item-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px;
}

.product-item-details {
    /* height: 150px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;

}

.product-item-link {
    font-size: 1.2em;
    text-decoration: none;
    color: #292929;
    font-weight: 600;
}

.product-item-description {
    font-size: 0.9em;
    color: #292929;
    font-weight: 300;
    display: -webkit-box;
    text-overflow: ellipsis; 
    overflow: auto; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.scrollbar::-webkit-scrollbar {
    width: 7px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: darkgray;
    border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
    border-radius: 4px;
}

.product-item-price {
    color: #292929;
    font-weight: 700;
    font-size: 1.2em;
}

.product-item-add-button {
    width: 100%;
    height: 65%;
    background-color: #F98124;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    
}

.product-item-add-button > img {
    padding-right: 12px;
}