footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #CCEAE4;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    height: 16vh;
    display: flex;
    justify-content: center;
    
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    box-sizing: border-box;
}

.footer-features {
    color: #292929;
    display: flex;
    font-weight: 400;
    
}

.footer-item-link {
    color: #292929;
    font-size: 1.2em;
    padding: 0.6em;
}

.footer-item-link:hover {
    color: #F98124;
}

.footer-social {
    display: flex;

}

.footer-social-logo {
    padding:  0 0.8em;
}

.footer-social-logo:hover {
    color: #F98124;
}


@media (max-width: 768px) {
    footer {
        height: 25vh;
    }

    .footer-container {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footer-logo {
        order: 0;
    }

    .footer-features {
        order: 1;
    }

    .footer-social {
        order: 2;
    }

}